.article__category {
  display: inline-block;
  position: absolute;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0 10px 22px rgba(59, 74, 116, .1);
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  left: 24px;
  top: 24px;
  text-align: center;
}