.result__icon-not-found {
  display: block;
  width: 80px;
  height: 80px;
  -webkit-mask: url(../../../images/not-found.svg);
  mask-image: url(../../../images/not-found.svg);
  mask-size: cover;
  margin: 0 auto;
  background-color: #b6bcbf;
}