.nav-container__link_active:after {
  position: relative;
  content: "";
  top: 26px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .nav-container__link_active:after {
    width: 0;
  }
  .nav-container__link_active {
    width: 100%
  }
}
