@import url(./_valid/search__button_valid.css);

.search__button {
  position: absolute;
  top: 0;
  left: calc(100% - 168px);
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  border: 1px solid #e6e8eb;
  border-radius: 100px;
  font-family: 'Roboto',  Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 168px;
  height: 64px;
  color: #b6bcbf;
  background: #e6e8eb;
}

@media screen and (max-width: 1023px) {
  .search__button {
    left: calc(100% - 160px);
    height: 56px;
    width: 160px;
  }
}

@media screen and (max-width: 767px) {
  .search__button {
    margin-top: 16px;
    height: 56px;
    left: 0;
    top: 0;
    width: 100%;
    position: relative;
  }
}