@import url(_is-opened/mobil-menu_is-opened.css);

.mobil-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobil-menu {
    position: absolute;
    flex-direction: column;
    left: 0;
    width: 100%;
    height: 270px;
    z-index: 90;
    background: #1a1b22;
  }
  .mobil-menu_is-opened {
    display: flex;
  }
}
