.nav-container .nav-container__link_black {
  color: #1a1b22;
}

.nav-container__link_black + .nav-container__link_auth {
  border: 1px solid #1a1b22;
}

.header__nav-container > .nav-container__link_black + .nav-container__link_active:after  {
  background-color: #1a1b22;
}
