@import url(__button/search__button.css);
@import url(__form/search__form.css);
@import url(__input/search__input.css);
@import url(__subtitle/search__subtitle.css);
@import url(__title/search__title.css);

.search {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 42.22%;
}

@media screen and (max-width: 1023px) {
  .search {
    margin: 40px auto;
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .search {
    margin: 30px auto;
    width: 90%;
  }
}