.article__title {
  font-family: 'RobotoSlab', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1.625em;
  line-height: 30px;
  color: #1a1b22;
  margin: 12px 0 0 0;
}

@media screen and (max-width: 767px) {
  .article__title{
    font-size: 22px;
    line-height: 26px;
  }
}