.saved-articles {
  margin: 0;
  padding: 0 104px 60px 104px;
  background: #F5F6F7;
}

@media screen and (max-width: 1023px) {
  .saved-articles {
    margin: 0;
    padding: 0 40px 60px 40px;
    background: #F5F6F7;
  }
}

@media screen and (max-width: 767px) {
  .saved-articles {
    margin: 0;
    padding: 0 16px 30px 16px;
    background: #F5F6F7;
  }
}