@import url(__text/result__text.css);
@import url(__title/result__title.css);
@import url(__is-opened/result__is-opened.css);
@import url(__icon-not-found/result__icon-not-found.css);
@import url(__not-found/result__not-found.css);
@import url(__searching/result__searching.css);
@import url(__button/result__button.css);
@import url(__found/result__found.css);
@import url(__error/result__error.css);

.result {
  margin: 0 auto;
  background: #F5F6F7;
  width: 100%;
}
