.article__source {
  /*position: absolute;*/
  font-family: 'RobotoSlab', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 20px;

  letter-spacing: .4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 18px 0 24px 0;

  /*top: calc(100% - 20px);*/
}