@import url(_save/article__icon_save.css);
@import url(_saved/article__icon_saved.css);
@import url(_delete/article__icon_delete.css);

.article__icon {
  height: 19px;
  width: 14px;
  margin: 0 auto;
  display: block;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
}
