.article__text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 22px;
  color: #1a1b22;
  margin: 16px 0 0 0;
}

@media screen and (max-width: 1023px) {
  .article__text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 10px 0 0 0;
  }
}