.info__description {
  margin: 30px 104px 0 104px;
}

@media screen and (max-width: 1023px) {
  .info__description {
    margin: 30px 40px 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .info__description {
    margin: 15px 16px 0 16px;
  }
}